<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        {% block css %}
            <link href='/css/amilio.css' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>      
            <link href="/includes/superfish/css/superfish.css" rel="stylesheet" media="screen">   
        {% endblock %}
        
        {% block javascripts %}
            {% javascripts '@AmilioCoreBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="/includes/superfish/js/superfish.js"></script> 
        {% endblock %}

        <title>{% block title %}amilio.de{% endblock title %}</title>
    </head>
    <body>
        <header>
            <div class="menu">
                <div class="content">
                    <div id="menu_navigation">
                        <ul>
                            <li>
                                &Uuml;ber uns
                            </li>
                            <li>
                                Blog
                            </li>
                            <li>
                                Premiumkan&auml;le
                            </li>
                            <li>
                                Nutzerkan&auml;le
                            </li>
                        </ul>
                    </div>
                    <div id="menu_user">
                        <ul class="sf-menu">
                            <li>
                                <a href="{{ path('amilio_core_channel_new') }}">Starte einen Kanal</a>              
                            </li>
                            <li>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {{ app.user.username }}
                                    </a>
                                        <ul>
                                            <li><a href="{{ path('fos_user_security_logout') }}">Abmelden</a></li>
                                            <li><a href="{{ path('amilio_core_channel_list') }}">Meine Kan&auml;le</a></li>
                                        </ul>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">anmelden</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>       
                </div>
            </div>
            
        </header>
        
        <div style="clear: both"></div>
        
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block body %}
            {% endblock body %}
        </div>
        <script>
        	jQuery(document).ready(function() {
        		jQuery('ul.sf-menu').superfish();
        	});
        </script>
    </body>
    
</html>