<header>
    <div class="menu">
        <div class="content">
            <div id="menu_navigation">
                <a href="{{ path('amilio_core_homepage') }}"><img src="/images/menulogo.png" id="menu_logo" /></a>
                <ul>
                    <li>
                        <a href="{{ path('amilio_core_homepage') }}">amilio</a>
                    </li>
                    <li>
                        &Uuml;ber uns
                    </li>
                    <li>  
			<a href="/blog/">Blog</a>
                    </li>
                    <li>
                        <a href="{{ path('amilio_core_channel_hottest') }}">Kan&auml;le</a>
                    </li>
                </ul>
            </div>
            <div id="menu_user">
                <ul class="sf-menu">
                    <li>
                        <a href="http://www.facebook.com/amilio.de">
                            <img src="/images/facebook.png"> 
                        </a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/amilio_de">
                            <img src="/images/twitter.png">
                        </a>                                                    
                    </li>
                    <li>
                        <a onclick="showNewChannelModal()" href="#">Starte einen Kanal</a>              
                    </li>
                    <li class="top_level_menu user">
 	                  <a href="{{ path('amilio_core_user_index') }}"><span class="username"></span></a>
                      <ul>
			  <li><a href="{{ path('amilio_core_user_index') }}">Mein Favoritenkanal</li> 
                          <li><a href="{{ path('amilio_core_channel_list') }}">Meine Kan&auml;le</a></li>
                          <li><a href="{{ path('fos_user_security_logout') }}">Abmelden</a></li>
                      </ul>
	                <li>
                    <li class="top_level_menu anonymous">
                              <a class="simple_link" href="#">Anmelden</a>
                              <ul id="menu_login"> 
                                  <li>
                                    <form action="{{ path("fos_user_security_check") }}" method="post">
                                      <label>Username</label><br />
                                      <input type="text" name="_username" required="required" />
                                      <br />  
                                      <label>Passwort</label><br>
                                      <input type="password" name="_password" required="required" />
                                      <br />
                                       <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                                      <button type="submit">Anmelden</button>
                                    </form>
                                </li>
                                <li>
                                    <a href="{{ path("fos_user_registration_register") }}">Registrieren.</a>
                                </li>
                            </ul>
                          </div>
                    </li>
                </ul>
            </div>       
        </div>
    </div>
</header>

<script>
  function showNewChannelModal()
  {
	  $.get( "{{ path('amilio_core_channel_new') }}", function( data ) {
		  $("#newChannelModal").modal({ opacity:80, overlayCss: {backgroundColor:"#000"}});
		  $("#newChannelModal").html( data );
	  });    	 
  }
  
  jQuery(document).ready(function() {
	  jQuery('ul.sf-menu').superfish();
  });

</script>
