{% block body %}

{% javascripts '@AmilioRetrieverBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<div style="width: 100%; text-align: center; padding-bottom: 50px;">
    <img src="/images/add.png" /><br />
    Produkt <br />hinzuf&uuml;gen
</div>

{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form(form) }}
{{ form_end(form) }}

{% endblock body %} 