{% extends 'base.html.twig' %}

{% block javascripts%}
    {{ parent() }}

    {% javascripts '@AmilioRetrieverBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock  javascripts%}

{% block body %}
<h1>Neues Produkt hinzuf&uuml;gen</h1>
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form(form) }}
    
    <input type="radio" name="image_type" value="url"> Url
    
        <input type="file" name="upload" /> Hochladen
    
        <input type="radio" name="image_type" value="file"> File

        <input type="text" name="url">
        
        <br /><br />
        
        <input type="submit" value="Produkt anlegen" />
    
{{ form_end(form) }}
{% endblock body %}