{% block body %}
    <h1>Produkt in Kanal &uuml;bernehmen</h1>
    
    {{ product.name }} 
    
    <h2>Kan&auml;le</h2>
    
    	<form method="post" action="{{ path('amilio_core_product_share_store') }}">
		<input type="hidden" name="productId" value={{ product.id }}">
		<select name="channelId">
			{% for channel in channels %}
				{% if not channel.parent %}
				<optgroup label="{{ channel.name }}">
					<option value="{{channel.id }}">{{ channel.name }}</option>
					{% for child in channel.children %}
					<option value={{child.id}}">{{child.name}}</option>
					{% endfor %} 
				</optgroup>
				{% endif %}
			{% endfor %}
		</select>
		<input type="submit" value="&uuml;bernehmen">	
 	</form>
    
{% endblock %}
