<div class="item productItem" onmouseover="$('#product_{{ element.id }}').show()" onmouseout="$('#product_{{ element.id }}').hide()">

    <div class="options" id="product_{{ element.id }}">

        <div class="option" style="background-color: #f69a2f;">
            <a href="{{ path("amilio_core_product_show", {'product': item.id, 'canonicalName': item.canonicalName }) }}" onclick="showProductModal('{{ item.id }}', '{{ item.canonicalName }}', '{% if channel %}{{ channel.id }}{% endif %}'); return false;">zur Produktseite</a>
        </div>
        <div class="option small" style="background-color: #ea691b;">
            <a href="{{ item.partnerUrl }}" target="_blank">direkt zum Shop</a>
        </div>
        <div class="user-{{ channel.owner.id }} option small" style="background-color: #444;">
            <a href="javascript: confirmElementRemove({{element.id}})">Produkt entfernen</a>
        </div>
        {% if item.owner %}
        <div class="user-{{ item.owner.id }} option small" style="background-color: #AAA">
            <a href="javascript:showModal('{{ path('amilio_core_product_edit', {'channel': channel.id, 'product': item.id }) }}')">Produkt editieren</a>
        </div>
        {% endif %}
    </div>

    <div class="image">
        <img alt="{{ item.name }}" src="{{ item.image }}">
    </div>

    <div class="title">
         {{ item.name }}
    </div>

</div>