{% extends 'base.html.twig' %}

{% block javascripts%}
    {{ parent() }}

    <script src="/includes/isotope/isotope.pkgd.min.js"></script>
    <script src="/includes/cropper/cropper.js"></script>

{% endblock  javascripts%}

{% block body %}

<style>
    .channel {
	    padding-bottom: 40px;
    }

</style>

 <div class="content" style="padding-top: 50px">
    <div id="channellist">
    {% for channelOfTheWeek in channelsOfTheWeek %}
        <div style="padding: 0; margin: 0" class="item">
            <a href="{{ path('amilio_core_channel_show', {'channel': channelOfTheWeek.id, 'canonicalName': channelOfTheWeek.canonicalname}) }}"><img src="{{ channelOfTheWeek.previewImage }}" alt="{{ channelOfTheWeek.name }}"></a>
        </div>    
    {% endfor %}
    </div>
    
    <!-- div style="clear: both"></div>
    
    <h1>Neuste Kan&auml;le</h1>
    {% for channel in newest %}
        <div class="channel">
            <div style="float: left;">
                <a href="{{ path('amilio_core_channel_show', {'channel': channel.id, 'canonicalName': channel.canonicalname}) }}">{{ channel.name }}</a>
            </div>
            <div style="padding-left: 300px">
                {{  channel.description }}
            </div>
       </div>
    {% endfor %}
</div-->

<script type="text/javascript">
    var $container = $('#channellist');
    // init
    $container.isotope({
      // options
      itemSelector: '.item',
      layoutMode: 'masonry'
    });
</script>

{% endblock %}