<div class="modal_form">
    <h1>Kanal</h1>
    <div class="info">
        Du hast dich also dazu entschieden einen neuen Kanal anzulegen. Wunderbar. 
    </div>
    
    {{ form_start(form) }}
        {{ form_errors(form) }}
        
        <input type="hidden" name="id" value="{{ channel.id }}">
        
        {{ form(form) }}
    {{ form_end(form) }}
    <button style="float: right; position: relative; top: -50px" onclick="$.modal.close();">Abbrechen</button>
    
    {%  if channel.id %}
    <div style="padding-top: 20px">
        <form name="deleteChannel" action="{{ path("amilio_core_channel_delete") }}" method="post">
            <input type="hidden" value="{{ channel.id }}" name="channelId">
            <a href="#" onclick="document.deleteChannel.submit()" style="padding-top: 50px; font-size:12px">Kanal l&ouml;schen</a>
        </form>
    </div>
    {% endif %}
</div>