{% if not listname is defined %}
	{% set listname = "elementlist" %}
{% endif %}

{% if channel is defined %}
	{% set elements = channel.elements %}
{% endif %} 

<div id="{{ listname }}" class="elementlist">
    
    {% if showAdd is defined %}
	{% if showAdd %}
		<div class="item">
			<div class="user-{{ channel.owner.id }}">
			    <div class="center" style="width: 100%; padding-top: 70px">
				<img src="/images/add.png" /><br />
				<a href='javascript: showModal("{{ path("amilio_core_product_new", {'channelId': channel.id }) }}")'>Produkt hinzuf&uuml;gen</a> <br />
				{% if not channel.parent %}<a href='javascript: showModal("{{ path("amilio_core_channel_new", {'parentId': channel.id }) }}")'>Kollektion hinzuf&uuml;gen</a>{% endif %}
				<p style="padding-top 50px; font-size: 12px; color: #AAA; padding: 30px; margin-top: 30px;">Du kannst hier nicht nur Produkte zu deinem Kanal hinzuf&uuml;gen, sondern auch jede Menge andere Dinge. Find's einfach heraus.</p>
			    </div>
			</div>
			<div style="width: 100%; padding-top: 70px" class="center not-user-{{ channel.owner.id }}">
				<div id="addFav">
					<img src="/images/add.png" /><br />
					<a class="user" href="{{ path('amilio_core_channel_add_favourite', {'channel': channel.id}) }}">Kanal folgen.</a>
					<a class="anonymous" href="javascript:showLoginModal()">Kanal folgen.</a>
					<p style="padding-top 50px; font-size: 12px; color: #AAA; padding: 30px; margin-top: 30px;">Du kannst hier nicht nur Produkte zu deinem Kanal hinzuf&uuml;gen, sondern auch jede Menge andere Dinge. Find's einfach heraus.</p>
				</div>
        			<div id="removeFav">
					<img src="/images/add.png" /><br />
					<a href="{{ path('amilio_core_channel_remove_favourite', {'channel': channel.id}) }}">Nicht mehr folgen.</a>
					<p style="padding-top 50px; font-size: 12px; color: #AAA; padding: 30px; margin-top: 30px;">Du kannst hier nicht nur Produkte zu deinem Kanal hinzuf&uuml;gen, sondern auch jede Menge andere Dinge. Find's einfach heraus.</p>
				</div>
			</div>
		</div>
	{% endif %}
    {% endif %}
        
    {% for element in elements %}
        {% render(controller("AmilioCoreBundle:Channel:showElement", { "element": element.id })) %}
    {% endfor %}

    <div id="modalDialog" style="display: none; background-color: white; width: 500px; border: 1px solid #000; padding: 30px; position: relative; top: -300px">
    	<div style="text-align: right; font-size: 12px"><a href="javascript:$.modal.close()">Fenster schlie&szlig;en</a></div>
	<div id="modalDialogContent">
	</div>
    </div>
    
</div>

    <script type="text/javascript">
        var $container = $('#{{ listname }}');
        // init
        $container.isotope({
          // options
          itemSelector: '.item',
          layoutMode: 'masonry'
        });

        var elementToRemove;
        
        function confirmElementRemove(id)
        {
            elementToRemove = id;
            confirm(function(){
                var url = "{{ path('amilio_core_product_remove', { "element": "elementId"} ) }}";
                url = url.replace("elementId", elementToRemove);
            	$.post(url, function( data ) {
            		  location.reload();
            	});
            });
        }

        var oldUrl;
	var newUrl;

      function showModal(url, width)
      {
	  newUrl = url;

          if (width) {
                $("#modalDialog").width(width);
          }
          $.get( url, function( data ) {
		  $.modal.close();
                  oldUrl = window.location.href;
		  $("#modalDialog").modal({ opacity:80, overlayCss: {backgroundColor:"#000"}, onClose: function(){window.history.pushState('', '', oldUrl); $.modal.close();} });
                  $("#modalDialogContent").html( data );
		  processUserFields();
		  window.history.pushState('', '', newUrl);
          });
      }

      function showProductModal(id, name)
      {
          var url = '{{ path("amilio_core_product_show", {'product': 'elementid', 'canonicalName': 'canonicalname' })  }}';
          url = url.replace("elementid", id);
          url = url.replace("canonicalname", name);

          showModal(url, "800px");
      }        
    </script>
