{% if not listname is defined %}
	{% set listname = "elementlist" %}
{% endif %}

{% if channel is defined %}
	{% set elements = channel.elements %}
{% endif %}

<div id="{{ listname }}" class="elementlist">

    {% for element in elements %}
        {% render(controller("AmilioCoreBundle:Channel:showElement", { "element": element.id })) %}
    {% endfor %}

</div>

<script type="text/javascript">
    var $container = $('#{{ listname }}');
    // init
    $container.isotope({
      // options
      itemSelector: '.item',
      masonry: {
        columnWidth: 215,
        gutter: 30
      }
	});

    var product_element_show_path = "{{ path("amilio_core_product_show", {'product': 'elementid', 'canonicalName': 'canonicalname' })  }}";
    var product_element_remove_path = "{{ path("amilio_core_product_remove", {'element': 'elementid' })  }}";
    var system_notallowed_path = "{{ path("amilio_user_notallowed")  }}";

</script>