{% extends 'base.html.twig' %}

{% block title %}{{ channel.name }} auf amilio.de{% endblock %}

{% block javascripts%}
    {{ parent() }}

    <script src="/includes/isotope/isotope.pkgd.min.js"></script>
    <script src="/includes/cropper/cropper.js"></script>

{% endblock  javascripts%}

{% block body %}

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52933cc83cff4be0" async="async"></script>

    <div class="head">
        {% if channel.image %}
            <div style="width: 100%; background-color: #{{ channel.headerBackgroundColor }}; background-image: url({{ channel.image }}); background-repeat:no-repeat; background-position: center; height: 400px;">
        {% else %}
            <div style="width: 100%; background-color: #3d728c; height: 400px;">
        {% endif %}
            </div>
            <div style="width: 100%; color: #3a4046">
                 <h1>{{ channel.name }}</h1>
            </div>
    </div>
    
    {% include "AmilioCoreBundle:Channel:render_header.html.twig" with { "image": channel.image } %}
    
    <div>
            <div class="center" style="width: 1200px; padding-bottom: 50px; background-color: #f9f9f9;font-family: 'Roboto', sans-serif; line-height: 24px; font-size: 12px;">
                    <p style="padding: 30px">{{ channel.description }}</p>
            </div>
        </div>
    <div>
        
        <div id="product_add" style="position: relative; top: -30px; width: 196px;" class="center">       
            <div style="float: left; padding-right: 60px; height: 120px;" class="user-{{ channel.owner.id }}">
                <a onclick='showModal("{{ path("amilio_core_channel_edit", {'channel': channel.id }) }}")'>
                    <img src="/images/edit.png" /><br />
                    Kanal <br />editieren
                </a>
            </div>            
            <div class="user-{{ channel.owner.id }}" style="width:200px">
                <a onclick='showModal("{{ path("amilio_core_product_new", {'channelId': channel.id }) }}")'>
                    <img src="/images/add.png" /><br />
                    Produkt <br />hinzuf&uuml;gen
                </a>
            </div>
        </div>
        
<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<div style="clear:both"></div>
	<div style="width:100%; text-align: center; padding-top: 30px">
        <span class='st_fblike_hcount' displayText='Facebook Like'></span>
        <span class='st_twitter_hcount' displayText='Tweet'></span>
        <span class='st_pinterest_hcount' displayText='Pinterest'></span>
	</div>

	<!--div style="width: 100%; text-align: center">
		<div class="addthis_native_toolbox"></div>
	</div-->
       
        <div id="modalDialog" style="display: none; background-color: white; width: 500px; border: 1px solid #000; padding: 30px; position: relative; top: -300px">
        </div>
        
    </div>
    <script>
      function showModal(url)
      {
    	  $.get( url, function( data ) {
    		  $("#modalDialog").modal({ opacity:80, overlayCss: {backgroundColor:"#000"}});
    		  $("#modalDialog").html( data );
    	  });    
      }

      function showProductModal(id, name)
      {
    	  var url = '{{ path("amilio_core_product_show", {'element': 'elementid', 'canonicalName': 'canonicalname' })  }}'; 
    	  url = url.replace("elementid", id);
    	  url = url.replace("canonicalname", name);
           
    	  showModal(url); 
      }
    </script>

    <div class="content">        
         {% include "AmilioCoreBundle:Channel:render_element_list.html.twig" with { "elements": elements } %}
    </div>
{% endblock %}
