{% extends 'base.html.twig' %}

{% block title %}{{ channel.name }} auf amilio.de{% endblock %}

{% block javascripts%}
    {{ parent() }}

    <script src="/includes/isotope/isotope.pkgd.min.js"></script>
{% endblock  javascripts%}

{% block body %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52933cc83cff4be0" async="async"></script>
    <div class="theme_homepage">
	{% if channel.parent %}
		<div class="center" style=""><div style="background-color: #eee; width: 300px; margin-left: calc( 50% - 125px); padding: 10px;"><a href="{{ path('amilio_core_channel_show', {'channel': channel.parent.id, 'canonicalName': channel.parent.canonicalname}) }}">Zurück zu "{{ channel.parent.name }}"</a></div>
	{% endif %}
    <div class="content" style="padding-top: 50px; left: -15px; position: relative">
	<div style="text-align: left; background-color: white; margin-right: 30px; padding: 20px; border: 1px solid #aaaaaa; float: left; width: 443px; height: 412px">
		<h1>{{ channel.name }}</h1>
		<p class="user-{{ channel.owner.id }}" style="font-size: 12px"><a href='javascript: showModal("{{ path("amilio_core_channel_edit", {'channel': channel.id }) }}")'>Kanal editieren</a></p>
		<p style="line-height: 28px">{{ channel.description }}</p>
		
	        <div style="z-index: 2;width:100%; text-align: center; padding-top: 30px">
        		<span class='st_fblike_hcount' displayText='Facebook Like'></span>
        		<span class='st_twitter_hcount' displayText='Tweet'></span>
        		<span class='st_pinterest_hcount' displayText='Pinterest'></span>
        	</div>
	</div>
	{% if channel.image %}
	<div>
            <img src="{{ channel.image }}">
	</div>
	{% else %}
	<div style="width: 675px; height: 452px"></div>
	{% endif %}
    </div>
        
    </div>
    <script>
      function isFavourite()
      {
	  var currentChannelId = "{{ channel.id }}";
	  var favorites = getCookie("favs");
          if(favorites) {
          	return favorites.indexOf(currentChannelId) > 0;
      	  }
	  return false;
      }

      $(function() {
	if ( isFavourite() ) {
		$("#addFav").hide();
        	$("#removeFav").show();
        } else {
		$("#addFav").show();
		$("#removeFav").hide();
        }
     });
    </script>

    <div class="content tilelist" style="padding-top: 100px;">        
         {% include "AmilioCoreBundle:Channel:render_element_list.html.twig" with { "elements": elements, "showAdd": true } %}
    </div>
{% endblock %}
