{% extends 'base.html.twig' %}

{% block title %}{{ channel.name }} auf amilio.de{% endblock %}

{% block javascripts%}
    {{ parent() }}

    <script src="/includes/isotope/isotope.pkgd.min.js"></script>
    <script src="/includes/cropper/cropper.js"></script>

{% endblock  javascripts%}

{% block body %}

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52933cc83cff4be0" async="async"></script>
    <div class="theme_homepage">
    <div class="content" style="padding-top: 50px; left: -15px; position: relative">
	<div style="background-color: white; margin-right: 30px; padding: 20px; border: 1px solid #aaaaaa; float: left; width: 443px; height: 412px">
		<h1>{{ channel.name }}</h1>
		<p style="line-height: 28px">{{ channel.description }}</p>
		
	        <div style="z-index: 2;width:100%; text-align: center; padding-top: 30px">
        		<span class='st_fblike_hcount' displayText='Facebook Like'></span>
        		<span class='st_twitter_hcount' displayText='Tweet'></span>
        		<span class='st_pinterest_hcount' displayText='Pinterest'></span>
        	</div>
	</div>
	<div>
            <img src="{{ channel.image }}">
	</div>
    </div>
    
    <div class="content"> 
        <div id="product_add" style="position: relative; top: -30px; width: 196px; left: 145px">       
            <div style="float: left; padding-right: 60px; height: 120px;" class="user-{{ channel.owner.id }}">
                <a href='javascript: showModal("{{ path("amilio_core_channel_edit", {'channel': channel.id }) }}")'>
                    <img src="/images/edit.png" /><br />
                    Kanal <br />editieren
                </a>
            </div>            
            <div class="user-{{ channel.owner.id }}" style="width:200px">
                <a href='javascript: showModal("{{ path("amilio_core_product_new", {'channelId': channel.id }) }}")'>
                    <img src="/images/add.png" /><br />
                    Produkt <br />hinzuf&uuml;gen
                </a>
            </div>
        </div>
     </div>   
<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<div style="clear:both"></div>
        <div id="modalDialog" style="display: none; background-color: white; width: 500px; border: 1px solid #000; padding: 30px; position: relative; top: -300px">
        </div>
        
    </div>
    <script>
      function showModal(url, width)
      {
	  if (width) {
		$("#modalDialog").width(width);
	  }
    	  $.get( url, function( data ) {
    		  $("#modalDialog").modal({ opacity:80, overlayCss: {backgroundColor:"#000"}});
    		  $("#modalDialog").html( data );
    	  });    
      }

      function showProductModal(id, name)
      {
    	  var url = '{{ path("amilio_core_product_show", {'element': 'elementid', 'canonicalName': 'canonicalname' })  }}'; 
    	  url = url.replace("elementid", id);
    	  url = url.replace("canonicalname", name);
           
    	  showModal(url, "800px"); 
      }
    </script>

    <div class="content tilelist" style="padding-top: 100px;">        
         {% include "AmilioCoreBundle:Channel:render_element_list.html.twig" with { "elements": elements, "hideMenu": true } %}
    </div>
{% endblock %}
